@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=JetBrains+Mono:wght@400;500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: #050505;
  color: #ffffff;
  font-family: 'Inter', sans-serif;
  overflow-x: hidden;
}


.bg-grid {
  background-size: 40px 40px;
  background-image: linear-gradient(to right, #27272a 1px, transparent 1px),
                    linear-gradient(to bottom, #27272a 1px, transparent 1px);
  mask-image: linear-gradient(to bottom, black 40%, transparent 100%);
}